---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const projects = await getCollection("projects");
	return projects.map((project) => ({
		params: { slug: project.slug },
		props: { project },
	}));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout
	title={` ${project.data.title} | The best examples of View Transitions in the wild`}
>
	<main>
		<div class="py-32 pb-16 md:py-48 md:pb-32">
			<div class="md:grid md:grid-cols-2 md:gap-20">
				<div></div>
				<div class="space-y-10">
					<h1 class="text-3xl font-display font-medium">
						{project.data.title}
					</h1>
					<Content />
					<Button
						href={project.data.url}
						title="Visit project"
						label="Visit project"
						target="_blank"
					/>
				</div>
			</div>
		</div>
	</main>
</Layout>
