---
import Layout from "../layouts/Layout.astro";
import Button from "../components/Button.astro";

import { getCollection } from "astro:content";

export async function getStaticPaths() {
	const blogEntries = await getCollection("projects");
	return blogEntries.map((entry) => ({
		params: { slug: entry.slug },
		props: { entry },
	}));
}

const { entry } = Astro.props;
const { Content } = await entry.render();
---

<Layout
	title={` ${entry.data.title} | The best examples of View Transitions in the wild`}
>
	<main>
		<div class="py-32 pb-16 md:py-48 md:pb-32">
			<div class="md:grid md:grid-cols-2 md:gap-20">
				<div></div>
				<div class="space-y-10">
					<h1 class="text-3xl font-display font-medium">
						{entry.data.title}
					</h1>
					<Content />
					<Button
						href="#"
						title="Visit project"
						label="Visit project"
					/>
				</div>
			</div>
		</div>
	</main>
</Layout>
