---
import Button from "./Button.astro";
---

<header
	class="py-10 px-10 flex justify-between items-center fixed top-0 z-10 w-full bg-white"
>
	<a class="font-medium text-lg font-display" href="/" title="Visit Homepage"
		>viewtransitions.dev ✨</a
	>
	<div class="hidden sm:block">
		<Button
			href="#"
			title="Submit your project"
			label="Submit your project"
			target="_self"
			emoji="👋"
		/>
	</div>
</header>
