<header
	class="py-10 px-10 flex justify-between items-center fixed top-0 w-full bg-white"
>
	<div class="font-medium text-lg">viewtransitions.dev ✨</div>
	<div class="hidden sm:block">
		<a
			href="#"
			title="Submit a suggestion"
			class="rounded-lg text-lg bg-fuchsia-700 text-white font-medium p-3 hover:bg-sky-600 duration-300 transition-colors ease-in-out"
			>Submit a suggestion</a
		>
	</div>
</header>
